

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    background-color: #d9afed;
}
.container-fluid2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    margin: 10px 0px;
    background-color: #a0a0a1f1;
}

.select-whole{
    margin-bottom: 20px;
}
.select-store{
    /* display: flex; */
    
}


.predict_head{
    /* display: block; */
    padding: 10px 0 5px 0px;
    margin: 20px 0 0 0;
    background-color:rgb(196, 232, 233);
}
.predict{
    background-color:rgb(196, 232, 233);
    display: flex;
    justify-content: center;
    height: 100%;
}
.predict_btn_wrap{
    display: flex;
    justify-content: center;
    position: relative;
    width: 72%;
}
.predict_btn_wrap h5{
    /* width: 120px; */
    /* margin: 15px 20px 0 0; */
    position: absolute;
    left: -4em;
}
.predict-btn{
    /* width: 117px; */
    margin: 0 15px 10px 15px;
    flex-shrink: 1;
    flex-grow: 1;

}
.predict-btn span{
    margin: 5px;
}



.predict_long{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    background-color: rgb(142, 190, 192);
    height: 100%;
    padding-bottom: 20px;
}
.predict_long_btn_wrap{
    display: flex;
    justify-content: center;
    position: relative;
    width: 72%;
}
.predict_long_btn_wrap h5{
    position: absolute;
    left: -5em;
    top: 3em;
}
.predict_long_btn{
    /* width: 117px; */
    /* margin: 0 15px 10px 15px; */
    flex-shrink: 1;
    flex-grow: 1;

}
.predict_long_btn p{
    margin: 5px;
}
.this_month_btn{
    margin-bottom: 10px;
}









.ubiregi-checker{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}
.checker-container{
    display: flex;
    flex-direction: column;
}
.qr-code{
    flex-shrink: 0;
    flex-basis: 180px;
}
.qr-code img{
    width: 70%;
}
.checker{
    width: 500px;
}
.ubiregi-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 500px;
    text-align: center;
}
.ubiregi-result p{
    color: red;
}

table#result-table{
    font-size:medium;
}
td.table-h{
    font-size:x-large;
    font-weight: bold;
}
td.collation{
    color: red;
}



.dl-btn{
    position: fixed;
    bottom: 0;
    left: 200px;
    margin: 10px;
    z-index: 5;
}

.func-btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* transform: translate(-10%, -30%); */
    /* margin: 10px; */

}
/* .function-btn1{
}
.function-btn2{
    position: fixed;
    bottom: 0;
    left: 570px;
    margin: 10px;
}
.function-btn3{
    position: fixed;
    bottom: 0;
    left: 680px;
    margin: 10px;
} */


@media screen and (max-width:850px){
    .predict_btn_wrap{
        flex-wrap: wrap;
        width: 100%;
    }
    .predict_btn_wrap h5{
        display: block;
        width: 100%;
        position: relative;
        left: initial;
    }


    .predict_long_btn_wrap{
        flex-wrap: wrap;
        width: 100%;
    }
    .predict_long_btn_wrap h5{
        display: block;
        width: 100%;
        position: relative;
        left: initial;
        top: initial;
        margin-top: 5px;
    }
}


@media screen and (max-width:480px){
    .container-fluid{
    }
    .select-whole{
    }
    .select-whole span{
        display: block;
    }
    .select-whole button{
        display: block;
    }
    .select-store span{
        display: block;
    }


    .predict{
        display: flex;
        flex-wrap: wrap;
    }
    .predict h5{
        flex-basis: 100%;
    }
    .predict-btn{
        width: 33%;
        margin: 0 0px 10px 0px;
    
    }
    .predict_long{
        display: flex;
        flex-wrap: wrap;
    }
    .predict_long h5{
        flex-basis: 100%;
    }
    .predict_long_btn{
        width: 33%;
        margin: 0 0px 10px 0px;
    
    }
    .predict_long_btn p{
    }
    


    .ubiregi-checker{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }
    .qr-code{
        display: inline-flex;
        align-items: center;
        font-size: 10px;
        
    }
    .qr-code p{
    }
    .qr-code img{
        width: 126px;
        height: 126px;
    }
    .checker{
        margin-bottom: 50px;
        width: auto;
    }
    .checker h4{
    }
    .ubiregi-result{
        margin-top: 50px;
        width: auto;
    }
    .ubiregi-result p{
        color: red;
    }



    .dl-btn{
        position: fixed;
        bottom: 0;
        left: 200px;
        margin: 10px;
        z-index: 5;
    }

    .func-btn{
        /* display: inline-block; */
        position: fixed;
        bottom: 10px;
        right: initial;
        left: 50px;
        /* float: left; */
        /* transform: translate(-10%, -30%); */
        /* margin: 10px; */
    }
    .function-btn{
        float: left;
        margin-right: 10px;
    }

}

.form-group{
    display: flex;
    justify-content: center;
}
.btn-success, .btn-warning{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .5);
}
.createfile_btn{
    margin: 30px 0;
}

.item_group{
    border-radius: 10px;
    margin-bottom: 10px;
}
.food{
    background-color: rgb(142 172 228 / 25%);
}
.drink{
    background-color: rgb(251 182 157 / 25%);
}
.others{
    background-color: rgb(226 211 123 / 25%);
}

.item_name{
    width: 90%;
    font-size:.8em;
}

.jumbotron{
    padding: 0rem 2rem 2rem 2rem;
}

ol {
    counter-reset:number; /*数字をリセット*/
    list-style-type: none!important; /*数字を一旦消す*/
    padding:0.5em;
    margin-top: 10px;
    border: solid 2px #5c9ee7;
}
ol li {
    position: relative;
    padding: 0.5em 0.5em 0.5em 35px;
    line-height: 1.5em;
}
ol li:before{
    /* 以下数字をつける */
    position: absolute;
    counter-increment: number;
    content: counter(number);
    /*数字のデザイン変える*/
    display:inline-block;
    background: #5c9ee7;
    color: white;
    font-family: 'Avenir','Arial Black','Arial',sans-serif;
    font-weight:bold;
    font-size: 15px;
    border-radius: 50%;/*円にする*/
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    /*以下 上下中央寄せのため*/
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
ol li:after {/*吹き出しのちょこんと出た部分*/
    content: '';
    display: block;
    position: absolute;
    left: 20px;/*左からの位置*/
    height: 0;
    width: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #5c9ee7;
    /*以下 上下中央寄せのため*/
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}